# --- PostgreSQL / Debezium ---
POSTGRES_DB=transaction_db
POSTGRES_USER=your_user
POSTGRES_PASSWORD=your_password
POSTGRES_HOST:your_postgres_localhost

# --- Kafka ---
# It can be any single string in base64 format (22 characters).
# Generate a new one with: docker run --rm apache/kafka:4.3.1 kafka-storage.sh random-uuid
KAFKA_CLUSTER_ID=your_cluster_id